// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #324A61;
$light-blue: #38536C;
$yellow: #FBC117;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
