<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Enjoy your poop!</h1>
        <div class="col-4 p-4">
        <%= image_tag "https://media.giphy.com/media/Hzhkf0esHVMhW/giphy.gif" %>
        </div>
        <hr class="my-4">
        <%= link_to 'Back to all toilets', toilets_path, :class => "btn btn-lg btn-primary"   %>
      <hr class="my-4">
    </div>
</div>

