<h5 class="card-title">Toilet N° <%= toilet.id %></h5>
<p class="card-text">Style: <%= toilet.style %></p>
<p class="card-text text-truncate"><small class="text-muted"><%= toilet.description %></small></p>
