.search-style {
    display: flex;
    border: 1px rgb(200, 200, 200);
    padding: 10px;
    justify-content: center;
    background: white;
    margin-bottom: 2vh;
    max-width: 400px;
}

.search-text{
  margin-top: 5vh;
}
